/** @format */

.h-100 {
  height: 100%;
}
.fb-profile-header .fb-cover-photo button {
  z-index: 9999;
}
.reg-form .infobtn {
  height: 13px;
  width: 13px;
  border: none;
  z-index: 0;
  background-color: transparent;
  padding: 0;
  position: absolute;
  margin-top: 0;
  border-radius: 50%;
}

.reg-form-select select {
  background-color: #fff;
}

.reset-header-wraper {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
}

.reset-header-wraper .login-part input {
  margin-right: 5px;
}

.reset-header-wraper .login-part button {
  margin-right: 5px;
}

.reset-btns button.continueBtn {
  padding: 8px 20px;
  border-radius: 6px;
  border: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.code-box input.error-border {
  border: 1px solid red;
}

/* custom for forgot pass */
.forgot-pass-custom .reset-body {
  padding-bottom: 0;
}
.forgot-pass-custom .reset-body .border-error {
  border: 1px solid red;
  padding: 12px;

  background-color: #ffebe8;
}

.forgot-pass-custom .reset-body .border-error p {
  margin-bottom: 16px;
  margin-bottom: 0;
  color: #1c1e21;
}
.forgot-pass-custom .reset-body .border-error .title {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 4px;
  color: #333;
  font-weight: 600;
}
.forgot-pass-custom .reset-body .border-error .message {
  font-size: 13px;
  line-height: 16px;
}

/* reset password */
.reset-footer {
  flex-direction: row-reverse;
}

/* activation page */
.act-wraper-box {
  background-color: rgb(237 240 243);
  border-radius: 6px;
}
.act-wraper-box .error {
  background-color: rgb(209, 151, 151);
  border-radius: 8px;
}
.act-wraper-box .info {
  background-color: rgb(224, 200, 145);
  border-radius: 8px;
}

.act-wraper-box .success {
  background-color: rgb(158, 196, 158);
  border-radius: 8px;
}

/* find account/ forgot passs */
.code-box .borderRed {
  border: 1px solid red !important;
}
.user-data-body {
  display: flex;
}
.user-data-body .reset-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-data-body .reset-body p {
  font-size: 15px;
  margin-bottom: 10px;

  margin-bottom: 0;
}
#facebook ._9np_ ._9o4d {
  font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}
.user-data-body .find-user-account img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.user-data-body .find-user-account span {
  font-size: 19px;
  line-height: 20px;
  color: #2a2c30;
  font-weight: 500;
  padding: 0 0 4px 0px;
}
.user-data-body .find-user-account p {
  color: #606770;
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
}

.user-data-body .find-user-account {
  display: flex;
  align-items: center;
  width: 100%;
}
.user-data-body .reset {
  height: 100%;
}
.user-data-body .reset .auth-title {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px;
  /* padding-right: 16px; */
}

.user-data-body .reset .find-user-data {
  padding: 5px 16px;
  height: 100%;
}
.user-data-body .reset .find-user-data .send-ref label {
  display: flex;
  margin-bottom: 3px;
  color: #333;
  font-weight: normal;
  padding-top: 3px;
  padding-bottom: 3px;
}
.user-data-body .reset .find-user-data .send-ref label:hover {
  background-color: #e9ebee;
}
.user-data-body .reset .find-user-data .send-ref label.search-data {
  background-color: #e9ebee;
}
.user-data-body .reset .find-user-data .send-ref label input {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}
.user-data-body .reset .find-user-data .send-ref label .msg {
  padding-bottom: 4px;

  font-size: 15px;
  line-height: 20px;
}
.user-data-body .reset .find-user-data .send-ref label .data {
  padding-bottom: 4px;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
}

.find-account .reset-btns .cancel {
  background-color: #e9ebee;
  color: #4b4f56;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 10px 18px;
  cursor: pointer;
}
.code-box input {
  font-size: 16px;
}
.code-text {
  width: 50%;
}

.error-msg-box .msg-box {
  background-color: #fa3e3e;
  border: 1px solid;
  border-color: #fa3e3e;
  border-radius: 3px;
  overflow: hidden;
  padding: 0 0 0 40px;
  margin-bottom: 10px;
  font-size: 12px;
}
.error-msg-box .msg-box img {
  float: left;
  margin: 8px 0 0 -30px;
  border: 0;
}
.error-msg-box .msg-box img {
  width: 20px;
  height: 20px;
}
.error-msg-box .msg-box .err-msg {
  font-size: 14px;
  line-height: 18px;
  background: #fff;
  margin: 0;
  padding: 9px 10px;
}

/* login form error control */

.input-wraper {
  position: relative;
}
.input-wraper .errImgBox {
  position: relative;
}
.input-wraper .errImgBox img {
  position: absolute;
  bottom: 16px;
  right: 10px;
  width: 20px;
  aspect-ratio: auto 20 / 20;
  height: 20px;
  bottom: 30px;
}

.input-wraper,
.input-wraper-pass .errorMess {
  color: #f02849;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  margin-bottom: 8px;
  /* margin-top: -14px; */
}
.input-wraper,
.input-wraper-pass .errorMess a {
  color: #f02849;
  font-weight: bold;
}
.input-wraper input:focus {
  border-color: #e4e6eb;
}

/*  */
.auth-box.auth-form {
  margin-bottom: 10px;
}

/* pass hide con */
.input-wraper-pass {
  border-color: #e4e6eb;
  margin-bottom: 13px;
}
.input-wraper-pass .input-box {
  display: flex;
  height: 50px;
  border-color: #e4e6eb;

  border: 1px solid var(--bg-tertiary);
  border-radius: 6px;
  font-weight: 200;
  font-family: inherit;
}

.input-wraper-pass .input-box input {
  width: 100%;
  font-size: 17px;
  padding: 14px 16px;
  border: none;
  border-radius: 6px;
}

.input-wraper-pass .input-box .pass-show a img {
  width: 20px;
  height: 20px;
}

.input-wraper-pass .input-box span.pass-show {
  padding: 14px 6px;
}
.input-wraper-pass .input-box.borderRed {
  border: 1px solid red !important;
}

/* home page  */
.user-post-header .post-info .user-details svg {
  font-size: 10px;
  margin-left: 4px;
}

/* for new register page  */
.sign-up-card-reg-page {
  width: 432px;
  background-color: #fff;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

/* for item hiden control */
.active {
  opacity: 1;
  visibility: visible;
  /* transform: translateY(0);
  transition: 200ms ease; */
}
.inactive {
  opacity: 0;
  visibility: hidden;
  /* transform: translateY(-20px);
  transition: 200ms ease; */
}

.nutural-circle-btn {
  border: none;
  border-radius: 50%;
  background: transparent;
}

.fb-home-body {
  margin: auto;
  position: relative;
  width: 100%;
}

/* sidebar */
.fb-home-body-sidebar {
  width: 250px;
}
.fb-home-body-sidebar {
  background-color: #fff;
  height: calc(100vh - 56px);
}
.fb-home-body-sidebar.minimize {
  width: fit-content;
  padding-right: 5px;
  border-right: 1px solid #e4e6eb;
}
.fb-home-body-sidebar .active_border {
  position: relative;
}

.active_border::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 4px;
  left: -10px;
  top: 0;
  background-color: #1876f2;
}

.fb-home-body-sidebar ul li {
  margin-bottom: 10px;
  padding: 2px 2px;
  /* margin-right: 15px; */
}
.fb-home-body-sidebar ul {
  margin-top: 10px;
}

.fb-home-body {
  padding-left: 0px;
  padding-top: 0px;
}

.header-space {
  height: 57px;
}

/*  */
.post-menu .post-dropdown-menu {
  top: 56px;
}
/* fb-profile-body */
.fb-profile-body {
  width: 100%;
  /* background-color: #1876f2; */
}

.fb-profile-header {
  margin-top: 0px;
}

.fb-home-timeline-area {
  margin: auto;
}

.fb-home-header {
  z-index: 99999999;
  border-bottom: 2px solid #e4e6eb;
}

.fb-profile-header .fb-cover-photo {
  height: 405px;
}

.fb-home-body {
  min-height: initial;
}

.profile_page_body {
  display: flex;
  background-color: #f0f2f5;
}
.fb-profile-details {
  width: 1040px;
  justify-content: space-around;
}

.fb-profile-menu {
  width: 1040px;
}

.profile_page_body .profile_page_Wraper {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 15px;
  width: 1040px;
}
.profile_body_left {
  position: relative;
  width: 40%;
  min-height: auto;
  color: #2a2c30;

  /* background-color: rgb(44, 167, 60); */
}
.profile_body_left {
  position: relative;
  width: 50%;
  min-height: auto;
  color: #2a2c30;
}
.profile_intro button {
  border: none;
  padding: 10px;
  color: #252525;
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.profile_body_left_box .introItems {
  display: flex;
  gap: 10px;
  padding-left: 8px;
  padding-right: 8px;
  color: #2a2c30;
  margin-top: 20px;
  margin-bottom: 20px;
}
.profile_body_left_box .introItems img {
  height: 20px;
  width: 20px;
  filter: contrast(0.3);
}
.profile_body_left .introItems span {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}
.profile_body_left .introItems span.boldText {
  font-weight: bold;
  cursor: pointer;
  color: #000;
}
.profile_body_left .introItems span.boldText:hover {
  text-decoration: underline;
}
.profile_body_right {
  position: relative;
  width: 60%;
  height: auto;

  /* background-color: rgb(127, 189, 29); */
}

.profile-photo img {
  width: 168px;
  height: 168px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
}
.fb-profile-details .profile-info {
  width: auto;
}
.profile_body_left_box {
}

.profile_body_right_box {
}

.fb-home-body-sidebar ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.fb-home-body-sidebar ul li {
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 6px;
}
