/** @format */
/* https://medium.com/tinyso/how-to-create-the-responsive-and-swipeable-carousel-slider-component-in-react-99f433364aa0 */

.carousel {
  /* margin: auto; */
  box-sizing: border-box;
  /* overflow: hidden; */
  position: relative;
}
.corouselBox {
  text-align: left;
  margin-left: 0;
  box-sizing: border-box;
  white-space: nowrap;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  display: flex;
}
.corouselItem {
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.corousalBtn {
  position: absolute;
  text-align: center;
  background-color: rgba(255 255 255);
  opacity: 0.6;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.coro_left_btn {
  left: 5px;
}
.coro_right_btn {
  right: 5px;
}

.itemBox {
  background-position: center center;
  background-size: cover;
  position: relative;
  border-radius: 10px;
}
/* .itemBox .item {
  position: relative;
} */

.itemBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: auto 100%;
  transition: 0.5s;
  transition: all ease-in-out 0.4s;
}
.itemBox .itemimg {
  width: 35px;
  height: 35px;
}
.itemBox .itemimg img {
  border: 2px solid #fff;
  width: 100%;
  height: 100%;
  position: relative;
  top: 10px;
  left: 5px;
  border-radius: 50%;
}
.itemBox .itemtaxt {
  padding-bottom: 5px;
  /* text-align: center; */
  padding: 7px;
  color: #ffffff;
  text-shadow: 1px 1px black;
}
.itemBox:hover {
  background-size: auto 110%;
}
