/** @format */

.addEditForm {
}
.addEditForm input {
  padding: 10px !important;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #0f6be4;
}

/* DetailsItemShow */
.DetailsItemShow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.DetailsItemShow .itemLeft {
  display: flex;
}
.DetailsItemShow .itemLeft .iconBox {
  margin-right: 10px;
}
.DetailsItemShow .itemLeft .iconBox img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}
.DetailsItemShow .itemLeft .textBox h5 {
  font-size: 15px;
}
.DetailsItemShow .itemLeft .textBox p,
.DetailsItemShow .itemLeft .textBox h6 {
  margin-bottom: 0;
  color: #707275;
  font-weight: 500;
}

.DetailsItemShow .itemLeft .textBox {
  display: flex;
  align-items: center;
  color: #4a4b4d;
}
.DetailsItemShow .itemRight {
  font-size: 26px;
  display: flex;
  gap: 16px;
}
.DetailsItemShow .itemRight span button.roundBtn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 22px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #fff;
  color: #4a4b4d;
}
.DetailsItemShow .itemRight span button.roundBtn:hover {
  background: rgb(190, 190, 190);
}
.DetailsItemShow .itemRight span svg {
  border-radius: 50%;
  cursor: pointer;
}
.DetailsItemShow .itemRight span svg:hover {
  color: #4a4b4d;
}
.DetailsItemShow .itemRight .buttonBox {
  position: relative;
}
.DetailsItemShow .itemRight .buttonBox .popupBox {
  position: absolute;
  right: 0;
}
.DetailsItemShow .itemRight .buttonBox .popupBox button {
  width: 100%;
  border: none;
  padding: 4px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  background-color: #fff !important;
  font-size: 17px;
}
.DetailsItemShow .itemRight .buttonBox .popupBox button:hover {
  background-color: rgb(192, 192, 192) !important;
}
.DetailsItemShow .itemRight .buttonBox .popupBox button span {
  margin-left: 10px;
}
.DetailsItemShow .itemRight .viewIcon {
}
