/** @format */

.AddCirclePlus {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.AddCirclePlus span {
  display: inline-block;
  font-size: 17px;
  color: #1877f2;
  margin-top: -10px;
}

.AddCirclePlus span svg {
  position: relative;
  bottom: -9px;
  font-size: 29px;
  color: #1877f2;
}
